.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.top_btn {
  display: flex;
  gap: 32px;
  margin-top: 40px;
}

.contact_form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact_form form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.form_controller {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.form_controller input {
  height: 40px;
  padding: 0 8px;
}

.form_controller label {
  position: absolute;
  top: -14px;
  left: 15px;
  background: white;
  padding: 0 8px;
}
