.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
  height: 72px;
}

.nav ul {
  display: flex;
  gap: 12px;
  list-style: none;
  padding-top: 20px;
  font-weight: bold;
}
