.primary_btn {
  background: #000;
  color: wheat;
  min-width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  padding: 18px 10px;
}
.secondary_btn {
  border: 1px solid black;
  color: black;
  min-width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  padding: 18px 10px;
}
